body {
    margin: 0;
    color: whitesmoke;
    background-color: rgb(33, 33, 33);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;  
    /* overflow: hidden;  */
    height: 200%;
}
body::-webkit-scrollbar {
    width: 0;
}
.navbar {
    position: fixed;
    display: block; 
    /* display: none; */
    z-index: 999;
    margin: 5px;
    top: 3%;
    width: 90%;
    height: 8%;
    background-color: rgb(60, 59, 59);
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0 0 20px 20px;

    box-shadow: 0px 3px 19px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 3px 19px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 19px 0px rgba(0,0,0,0.75);
}
.logoNav {
    position: fixed;
    color: peachpuff;

    background-color: rgb(60, 59, 59);
    box-shadow: 0px 8px 28px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 8px 28px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 8px 28px -2px rgba(0,0,0,0.75);
    border-radius: 20px;

    font-weight: 800;
    font-size: 66px;
    width: 250px;
    text-align: center;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.homeNavBTN {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    left: 30%;

    top: 50%;
    transform: translate(-50%, -50%);

    overflow: hidden;
    cursor: pointer;
}
.homeNavBTN p {
    text-align: center;
    right: 20px;
}
.loginNavBTN {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);

    position: relative;
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%);

    overflow: hidden;
    cursor: pointer;
}
.loginNavBTN p {
    text-align: center;
    right: 20px;
}
#navButtons:before {
    content: "";
    position: absolute;
    z-index: 10;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #d12020;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
#navButtons:hover:before, #navButtons:focus:before, #navButtons:active:before {
    right: 0;
}

#landingScreen {
    position: relative;
    z-index: 0;
    height: 100vh;
}

.bigText {
    position: absolute;
    height: 180px;
    width: 750px;
    font-size: 70px;
    font-weight: 600;
    color: peachpuff;
    letter-spacing: 2px;

    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
}
.smallText {
    position: absolute;
    height: 100px;
    width: 750px;
    font-size: 20px;
    font-weight: 400;
    color: rgb(163, 163, 163);
    letter-spacing: 2px;

    top: 56%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.moreInfoBTN {
    position: absolute;
    background-color: #810000;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;

    top: 65%;
    left: 18%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    border-radius: 5px;
}
.mockupIMG {
    position: absolute;
    height: 50vh;
    width: 40vw;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);

    border-radius: 15px;
}

#section2 {
    position: relative;
    height: 1100px;
    width: 100%;
    background-color: rgb(41, 41, 41);
}